<div id="buttonSpace" class="ui two column centered grid">
    <button id="A" class="ui blue button large"><%= buttonA %></button>
    <button id="B" class="ui blue button large"><%= buttonB %></button>
</div>