<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>The Story Of The First Dervish</title>
</head>
<body>

    <div id="home" class="ui container">
        <p>We have from a very young age been trained to read in a linear pattern from the very beginning</p>
        <p>The following project is an attempt to tell an adaptation of the story of the First Dervish from the story "The Porter And The Three Ladies" from the Arabian Nights stories</p>
        <div id="buttonSpace" class="ui two column centered grid">
            <a href="/story">
                <button id="next" class="ui blue button large">Proceed</button>
            </a>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>