<%- include("./partials/header") %> 
    <div id="home" class="ui container">
        <p>We have from a very young age been trained to read in a linear pattern</p>
        <p>The following project is an attempt to tell an adaptation of the story of the First Dervish from the story "The Porter And The Three Ladies" from the Arabian Nights stories in a non linear fashion</p>
        <div id="buttonSpace" class="ui two column centered grid">
            <a href="/story">
                <button id="next" class="ui blue button large">Proceed</button>
            </a>
        </div>
    </div>


<%- include("./partials/footer") %> 
