<%- include("./partials/header") %> 

    <div class="ui container">
        <% for(let i=0;i<21;i++){ %> 
            <div id="n<%= i %>" class="part">
                <%- include(`./partials/N${i}`) %> 
            </div>
        <% } %> 
    </div>
    <%- include("./partials/footer") %>