body {
  background-image: url("https://i.pinimg.com/originals/df/7f/4c/df7f4c51df5edae3e9bf78fef81f4000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  text-align: center;
  font-family: "Calligraffitti", cursive;
}

#vertSpace {
  margin-top: 200px;
  width: 60%;
}
